<header class="header">
    <div class="header-bg-text">
        <div class="marquee-row marquee-left">
            <div class="marquee-content">
                <span class="marquee-text">JAMIE JOHNSTONE</span>
                <span class="marquee-text">JAMIE JOHNSTONE</span>
                <span class="marquee-text">JAMIE JOHNSTONE</span>
                <span class="marquee-text">JAMIE JOHNSTONE</span>
            </div>
            <div class="marquee-content" aria-hidden="true">
                <span class="marquee-text">JAMIE JOHNSTONE</span>
                <span class="marquee-text">JAMIE JOHNSTONE</span>
                <span class="marquee-text">JAMIE JOHNSTONE</span>
                <span class="marquee-text">JAMIE JOHNSTONE</span>
            </div>
        </div>
        <div class="marquee-row marquee-right">
            <div class="marquee-content">
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
            </div>
            <div class="marquee-content" aria-hidden="true">
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
                <span class="marquee-text">PRODUCT MANAGER TICKETING GEEK</span>
            </div>
        </div>
        <div class="marquee-row marquee-left marquee-offset">
            <div class="marquee-content">
                <span class="marquee-text">ROWER STAGE MANAGER</span>
                <span class="marquee-text">ROWER STAGE MANAGER</span>
                <span class="marquee-text">ROWER STAGE MANAGER</span>
                <span class="marquee-text">ROWER STAGE MANAGER</span>
            </div>
            <div class="marquee-content" aria-hidden="true">
                <span class="marquee-text">ROWER STAGE MANAGER</span>
                <span class="marquee-text">ROWER STAGE MANAGER</span>
                <span class="marquee-text">ROWER STAGE MANAGER</span>
                <span class="marquee-text">ROWER STAGE MANAGER</span>
            </div>
        </div>
    </div>
    <div class="header-image">
        <div class="image-loader" id="imageLoader">
            <div class="loader-spinner"></div>
        </div>
        <img src="./jamie.png" alt="Jamie Johnstone" class="header-portrait" id="headerPortrait" onload="this.classList.add('loaded'); document.getElementById('imageLoader').style.display='none';">
    </div>
</header>
