<header class="header">
    <div class="header-bg-text">
        <span class="bg-text-line">JAMIE</span>
        <span class="bg-text-line">JOHN</span>
        <span class="bg-text-line">STONE</span>
    </div>
    <div class="header-image">
        <img src="./jamie.png" alt="Jamie Johnstone" class="header-portrait">
    </div>
</header>
