{{#if resume.awards.length}}
<h2>Certifications</h2>
	{{#each resume.awards}}		
<h4>{{#if title}}{{title}}{{/if}}
<p>{{#if awarder}}{{awarder}}{{/if}} - {{#if date}}{{dateFormat date format="MMM YYYY"}}{{/if}}
{{/each}}
<hr>
{{/if}}